@using BookStore.Models.ViewModels
@model ChangePasswordViewModel

<div class="login-card card p-4">
    <div class="card-body">
        <div class="text-center mb-4">
            <h4 class="brand mb-1">BookStore</h4>
            <p class="text-muted mb-0">Đổi Mật Khẩu</p>
        </div>

        <form id="changePasswordForm" asp-action="Changepassword" asp-controller="Account" method="post" novalidate>
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="OldPassword" class="form-label"></label>
                <input asp-for="OldPassword" class="form-control" required minlength="6" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label"></label>
                <input asp-for="NewPassword"  class="form-control" required minlength="6" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ConfirmNewPassword" class="form-label"></label>
                <input asp-for="ConfirmNewPassword" class="form-control" required minlength="6" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>

            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-primary">Xác nhận</button>
            </div>

            <div class="text-center">
                <a asp-controller="Account" asp-action="Login" class="btn btn-secondary">Trở về</a>
            </div>
        </form>
    </div>
</div>